.h-full{
  height: 100vh;
  padding: 2vh;
}
.outerConatiner{
  display:flex;
  height: 100%;
}
.left{
  width: 50%;
  float: left;
  padding-top: 3vh;
  padding-left: 20vh;

}
.right {
  width: 50%;
  float: right;
  padding: 10vh;
  padding-top: 2vh;
 
}
